<div class="timedMcq-inner component-inner" role="region" aria-label="{{_globals._components._timedMcq.ariaRegion}}" {{#if _globals._components._timedMcq.ariaRegion}}tabindex="0"{{/if}}> 

        {{#if displayTitle}} {{!-- code copied from component.hbs --}}
            <div class="{{_component}}-title component-title">
                <div role="heading" tabindex="0" class="{{_component}}-title-inner component-title-inner"  aria-level="4">
                    {{{displayTitle}}}
                </div>
            </div>
        {{/if}}

        <div class="timedMcq-time-instruction">{{ timeInstruction }}</div>
        
        <button class="timedMcq-time-start" {{#if _timedimgEnabled}}style="background: url({{_graphic.src}}); background-repeat:no-repeat; background-size: contain; background-position: top center; background-color: #ffffff !important;"{{else}} {{/if}} >{{#if _timedimgEnabled}} <img src="{{_graphic.src}}" style="display:none;" tabindex="-1" /> {{_graphic.alt}} {{else}} {{ _timerReveal }} {{/if}}</button>

        <div class="timedMcq-body-items">
            {{#if body}}
                <div class="{{_component}}-body component-body">
                    <div class="{{_component}}-body-inner component-body-inner">
                        {{{a11y_text body}}}
                    </div>
                </div>
            {{/if}}
            {{#if instruction}}
                <div class="{{_component}}-instruction component-instruction">
                    <div class="{{_component}}-instruction-inner component-instruction-inner">
                        {{{a11y_text instruction}}}
                    </div>
                </div>
            {{/if}}
        </div>

        <div class="timedMcq-time">{{ _seconds }}</div>

    {{#if _isRadio}}<span class="aria-label display-none aria-instruct" role="region" tabindex="0">Use the up and down arrows or tab to select a answer.</span>{{/if}}
    <div class="timedMcq-widget component-widget {{#unless _isEnabled}} disabled {{#if _isInteractionComplete}} complete submitted show-user-answer {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}} {{#if _itemscolumnnum}}timed{{_itemscolumnnum}}column{{/if}}">
        <div class="{{_id}}-fbnotify a11y-ignore" aria-hidden="true" tabindex="-1" style="display:none;">********** [ TIMED MCQ Selectable Options Below ] **********</div>
        {{#each _items}}
        <div class="timedMcq-item component-item component-item-color {{#unless ../_isEnabled}} {{#if _isCorrect}} correct{{else}} incorrect{{/if}} {{/unless}} item-{{@index}}">
            <input type="{{#if ../_isRadio}}radio{{else}}checkbox{{/if}}" id="{{../_id}}-{{@index}}" aria-labelledby="{{../_id}}-{{@index}}-aria"{{#unless ../_isEnabled}} disabled{{/unless}} aria-label="{{a11y_normalize text}}"/>
            <label aria-hidden="true" id="{{../_id}}-{{@index}}-aria" for="{{../_id}}-{{@index}}" class="component-item-text-color component-item-border{{#unless ../_isEnabled}} disabled {{/unless}}{{#if _isSelected}} selected{{/if}} a11y-ignore" tabindex="-1">
                <div class="timedMcq-item-state">
                    <div class="timedMcq-item-icon timedMcq-answer-icon {{#if ../_isRadio}}radio{{else}}checkbox{{/if}} component-item-text-color icon"></div>
                    <div class="timedMcq-item-icon timedMcq-correct-icon icon icon-tick"></div>
                    <div class="timedMcq-item-icon timedMcq-incorrect-icon icon icon-cross"></div>
                </div>
                <div class="timedMcq-item-inner h5">
                    {{{text}}}
                </div>
            </label>
        </div>
            {{#if feedback}}
                <div class="specfdback-{{@index}} a11y-ignore" aria-hidden="true" tabindex="-1" style="display:none;">[ Above Item Specific Feedback ] = {{{feedback}}}</div>
                <script>if ( !$('html').hasClass('pagesave2txt') ) { $( ".specfdback-{{@index}}" ).remove(); }</script>
            {{/if}}
        {{/each}}
    </div>
    <div class="buttons" id="buttons">
    </div>
    {{#if _feedback.correct}}
        <div class="{{_id}}-fbnotify a11y-ignore" aria-hidden="true" tabindex="-1" style="display:none;">[ Correct Feedback ] = {{{_feedback.correct}}}</div>
    {{/if}}
    {{#if _feedback.timeUp}}
        <div class="{{_id}}-fbnotify a11y-ignore" aria-hidden="true" tabindex="-1" style="display:none;">[ Time Up Feedback ] = {{{_feedback.timeUp}}}</div>
    {{/if}}
    {{#if _feedback._incorrect.final}}
        <div class="{{_id}}-fbnotify a11y-ignore" aria-hidden="true" tabindex="-1" style="display:none;">[ Incorrect Final Feedback ] = {{{_feedback._incorrect.final}}}</div>
    {{/if}}
    {{#if _feedback._incorrect.notFinal}}
        <div class="{{_id}}-fbnotify a11y-ignore" aria-hidden="true" tabindex="-1" style="display:none;">[ Incorrect Not Final Feedback ] = {{{_feedback._incorrect.notFinal}}}</div>
    {{/if}}
    {{#if _feedback._partlyCorrect.final}}
        <div class="{{_id}}-fbnotify a11y-ignore" aria-hidden="true" tabindex="-1" style="display:none;">[ Partly Correct Feedback for the Final Attempt ] = {{{_feedback._partlyCorrect.final}}}</div>
    {{/if}}
    {{#if _feedback._partlyCorrect.notFinal}}
        <div class="{{_id}}-fbnotify a11y-ignore" aria-hidden="true" tabindex="-1" style="display:none;">[ Partly Correct Not Final Feedback ] = {{{_feedback._partlyCorrect.notFinal}}}</div>
        <script>if ( !$('html').hasClass('pagesave2txt') ) { $( ".{{_id}}-fbnotify" ).remove(); }</script>
    {{/if}}
</div>
{{#if _showPercentagebar}}
<div class="masterscorehold">
    <div class="mcqmovingbar" style="width: {{_outofahundred}}%;" aria-label="{{_showPercenttext}} {{_outofahundred}}%">&nbsp;<span>{{_showPercenttext}}</span> {{_outofahundred}}%</div>
    <div class="mymcqtotalscore" style="display:none">{{_themcqtotalscore}}</div>
    <div class="mymcqrequiredscore" style="display:none">{{_therequiredscore}}</div>
</div>
{{/if}}
